body {
    font-family: serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 0 20px;
}

.titulo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}

.texto {
    text-align: justify;
    padding-left: 15px;
}

.despedida {
    float: right;
    line-height: 1.5;
}